.btnImport {
    background: linear-gradient(135deg, #3D86E0 0.01%, #445CFC 100%);
}

.btnExport {
    background: linear-gradient(135deg, #F27329 0%, #F25F29 100%);
}

.btnConnectedInstance {
    background: linear-gradient(135deg, #1bad07 0%, #1bad07 100%);
}
